# --- dbt stack ---
protobuf
dbt-core==1.10.17
dbt-postgres==1.9.1
dbt-adapters==1.22.2
dbt-common==1.37.2
dbt-extractor==0.6.0
dbt-protos==1.0.410
dbt-semantic-interfaces==0.9.0

# --- ML / data science ---
mlflow==3.8.0
mlflow-skinny==3.8.0
mlflow-tracing==3.8.0

scikit-learn==1.8.0
scipy==1.16.3
numpy==1.26.4
pandas==2.1.4
pyarrow==16.1.0

matplotlib==3.10.8
shapely==2.0.6

# --- data quality ---
great_expectations==1.10.0
elementary-data[postgres]==0.14.1

# (Optional – if you actively use them)
networkx
graphviz==0.20.3
